/Portafolio03_Mariel/nbproject/private/
/Portafolio03_Mariel/build/
/Proyecto_Mariel/Proyecto_Mariel_FaseII/nbproject/private/
/Proyecto_Mariel/Proyecto_Mariel_Fase/nbproject/private/
/Proyecto_Mariel/Proyecto_Mariel_Fase/build/
/Proyecto_Mariel/Proyecto_Mariel_Fase/dist/
